* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 880px) {
  .hamburger-menu {
    display: block !important;
  }
  .hamburger-menu-list {
    display: none !important;
  }
}
@media screen and (min-width: 880px) {
  .hamburger-menu {
    display: none !important;
  }
  .hamburger-menu-list {
    display: flex !important;
  }
}

.scroll-lock {
  @apply relative h-full overflow-hidden;
}

.gradient-bg-gray-black {
  background: linear-gradient(75deg, #1b1b18 10%, #5f5f5d) !important;
}
